@import url(assets/css/index/header.css);
@import url(assets/css/index/main.css);
@import url(assets/css/fonts/fonts.css);

:root{
    --cinza: rgb(17, 17, 17);
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cinza);
}

img{
    pointer-events: none;
}

