@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face{
    font-family: centurygothic;
    src: url('centurygothic.ttf') format('truetype');
    font-style: normal;
}
@font-face{
    font-family: lovelo;
    src: url('Lovelo_Black.otf') format('truetype');
    font-style: normal;
}
@font-face{
    font-family: centurylight;
    src: url('century-gothic-paneuropean-light.ttf') format('truetype');
    font-style: normal;
    font-weight: lighter;
}
@font-face{
    font-family: centurybold;
    src: url('centurygothic_bold.ttf') format('truetype');
    font-style: normal;
}
@font-face{
    font-family: garetbold;
    src: url('Garet-Heavy.ttf') format('opentype');
    font-style: normal;
}
@font-face{
    font-family: garetlight;
    src: url('Garet-Book.otf') format('opentype');
    font-style: normal;
}
@font-face{
    font-family: inter;
    src: url('Inter_18pt-Medium.ttf') format('opentype');
    font-style: normal;
}