@import url(../../style.css);

body{
    min-width: 300px;
}

.voltar{
    display: flex;
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    background: rgb(23, 23, 23);
    top: 1vh;
    left: 1vh;
    border-radius: 0.7rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.voltar:hover{
    outline: 1px solid white;
}
.voltar img{
    height: 35%;
    width: auto;
}