@import url(../../pages/pages.css);

.fullscreen{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sobre-container{
    height: 90%;
    width: 95%;
    color: white;
}
.sobre-container span{
    font-size: 3rem;
    font-family: centurybold;
}
.sobre-container p{
    line-height: 2rem;
    font-size: 1.3rem;
    font-family: centurylight;

}
.membros{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 50px;
}
.membros ul{
    list-style: none;
    font-family: inter;
}
.membros h1{
    margin-bottom: 10px;
    font-family: centurybold;
}

@media(max-width:600px){
    .membros{
        display: grid;
        justify-content: center;
        text-align: center;
    }
    .caixa-turmas{
        display: grid;
        margin: 10px 0;
        background-color: rgb(0, 0, 0);
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
    }
    .membros h1{
        margin: 0 20px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 2.4rem;
    }
    .membros ul{
        margin: 20px 20px;
        font-size: 1.2rem;
    }
}